<%= stylesheet_link_tag 'information' %>
<section class="accordion">
		<input id="block-01" type="checkbox" class="toggle">
		<label class="Label" for="block-01">ムビチケカードについて</label>
		<div class="content">
			<p>全国の映画館で利用できる、ネットで座席指定可能なデジタル映画鑑賞券です。</br>
            ムビチケには、それぞれ映画オリジナルのデザインがありコレクションとして集めたりなど、楽しめます。また対応映画館のウェブサイト上で座席指定ができ鑑賞当日は、映画館の自動発券機で入場券を発券したりするだけでスマートに入場できるチケットサービスです。<br>
            「全国券」は、全国のムビチケ対応映画館で使用でき詳しくはムビチケ対応映画館をご確認して下さい。「劇場券」は指定映画館のみで使用できます。ムビチケ前売券（カード）裏面に記載されていますので確認してください。<br>
            ※こちらに記載しているのは、一部のみなので詳しく知りたい方は、各種映画館サイトをご覧になるかこちらをクリック→<%= link_to 'ムビチケガイド', 'https://movieticket.jp/FAQ/01/02' %></p>
		</div>
		<input id="block-02" type="checkbox" class="toggle">
		<label class="Label" for="block-02">映画を観に行く日で料金が安くなる!</label>
		<div class="content">
			<p>【映画を観に行く日で料金が安くなる事をご存知ですか？】<br>
            全国で実施しているチケット割引制度があります。<br>
            ファーストデイ<br>
            毎月1日は、誰でも1,100〜1,300円で鑑賞できます。<br>
            会員サービスデイ<br>
            会員限定の割引サービス<br>
            レイトショー<br>
            20:00以降などの上映を対象に割引（23:00以降のナイトショーを実施している劇場も有り）<br>
            他にも各種映画館で、独自の割引サービスがありますので映画館サイトをご覧になるか.<br>
            こちらをクリック→<%= link_to '意外と知らない!?映画館のサービスデーまとめ', 'https://screenonline.jp/_ct/17380569' %></p>
		</div>
		<input id="block-03" type="checkbox" class="toggle">
		<label class="Label" for="block-03">映画パンフレットについて</label>
		<div class="content">
			<p>日本の映画館で販売されている映画パンフレットは、日本独自の物なので海外などで販売されていません。<br>
            現在のパンフレットの相場は、600円～1000円程度。 中には特典付きで3000円というものもありますが、1000円用意しておけば、まず買うことが出来ます。<br>
            映画館の受付で販売されている“パンフレット”は，日本の映画ファンにもっとも親しまれてきた映画の資料です。 場面写真やストーリー，作品情報はもちろん，批評や製作のうら話まで掲載されたこの冊子は，“持ち帰ることのできる映画”として愛好者によるコレクションの対象です。</p>
		</div>
        <input id="block-04" type="checkbox" class="toggle">
		<label class="Label" for="block-04">座席について</label>
		<div class="content">
			<p>映画館ごとに特別な座席があり109シネマズですと、エグゼクティブシートと言う専用テーブル、リクライニング機能を備えた特別なシートがあり、前の座席との間隔も広く、ゆったりと座れる座席があります。<br>
			ポイントカード会員に入会すれば、いつでも通常料金でご利用いただけます。<%= link_to '109シネマズ', 'https://109cinemas.net/' %><br>
			詳しくは、観に行く際の映画館サイトをご覧ください。</p>
		</div>
        <input id="block-05" type="checkbox" class="toggle">
		<label class="Label" for="block-05">映像技術について</label>
		<div class="content">
			<p>普通に映画を観るのも良いですが、<br>
			各映画館では、より良い映像技術や音響で映画を楽しめるIMAX,4DX,Dolby Cinemaなどがあり、これらの特殊な映像技術や音響システムを利用した上映形式は、通常の映画鑑賞とは一線を画する特別な体験を提供しています。<br>
			通常の映画鑑賞が持つ魅力もある一方で、これらの上映形式を選ぶことで、さらに没入感を高めたり、感覚的な刺激を楽しむことができます。<br><br>
			IMAXでは巨大なスクリーンと高度なプロジェクション技術によって、迫力ある映像が観客を包み込みます。特に自然災害やスペクタクルなシーンが際立ち、まるでその世界にいるかのような感覚を味わえます。<br><br>
			4DXでは、映像に合わせてシートが動き、風や水しぶき、香りなどの特殊効果が加わり、映画の世界に身体全体で参加するような臨場感が得られます。<br><br>
			Dolby Cinemaでは、立体感ある映像や高品質な音響が、物語の深みやキャラクターの感情をよりリアルに感じさせてくれます。特にアクションシーンや幻想的な場面が映え、まるで映画の中に引き込まれるような錯覚を覚えることでしょう。<br>
			これらの特殊な上映形式は、映画制作者が意図した臨場感や感情移入をより強調し、観客に新たな映画体験を提供します。価格が通常の上映と比べて高めかもしれませんが、その分、映画館での特別な時間を楽しむことができるでしょう。自分の好みや気分に合わせて、通常の映画鑑賞と特殊上映を使い分けることで、さまざまな映画の楽しみ方を体験することができます。<br>
			<%= link_to 'IMAXについて', 'https://www.tohotheater.jp/service/imax/#imaxAbout' %>
			<%= link_to '4DXについて', 'https://www.cj4dx.com/jp/index.php' %>
			<%= link_to 'Dolby Cinemaについて', 'https://www.dolbyjapan.com/dolby-cinema' %></p>
		</div>
        <input id="block-06" type="checkbox" class="toggle">
		<label class="Label" for="block-06">映画関連イベントについて</label>
		<div class="content">
			<p>TV放送アニメの先行上映会、応援上映、舞台挨拶付き先行上映会、来日試写会などがあり、<br>
			舞台挨拶付き先行上映会では、主演俳優 主演女優 監督に会えたり来日試写会では、海外俳優 海外女優に会えたり試写会は、作品をまだ一般公開していない段階で行われるため、先行して映画を観賞できるプレミア感を味わうことができます。</p>
		</div>
        <p>※随時情報追加予定</p>
		<%= link_to t('defaults.back'), :back, class: 'navbar-brand' %>
	</section>