<%= stylesheet_link_tag 'simple_calendar' %>
<% content_for(:title, t('.title')) %>
<div class="text-center py-4">
<h1><%= t('.title') %></h1>


<div class="show text-center">
  <p>
  <strong class="white-text">タイトル</strong><br>
  <span style="font-size: 24px;"><%= @schedule.title %></span>
  </p>

  <p>
    <strong class="white-text">内容</strong><br>
    <span style="font-size: 24px;"><%= @schedule.content %></span>
  </p>

  <p>
    <strong class="white-text">日時</strong><br>
    <span style="font-size: 24px;"><%= @schedule.start_time.strftime("%m-%d %H:%M") %></span>
  </p>

  <ul class="list-inline">
    <li class="list-inline-item">
      <%= link_to edit_schedule_path(@schedule), id: "button-edit-#{@schedule.id}" do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <%= button_to schedule_path(@schedule), id: "button-delete-#{@schedule.id}",
                     method: :delete, data: { turbo: false },
                     form: { onSubmit: "return check();" },
                     class: 'btn2 btn-danger', remote: true do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </div>
    </li>
    <li class="list-inline-item">
    <%= link_to '予定カレンダーに戻る', schedules_path, class: 'link' %><br>
    </li>
  </ul>
</div>