<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.role_i18n %>
  </td>
  <td>
    <%= l user.created_at, format: :long %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_user_path(user), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_user_path(user), class: 'btn btn-success' %>
    <%= button_to t('defaults.delete'), admin_user_path(user), id: "button-delete-#{user.id}", method: :delete, data: { turbo: false }, form: { onSubmit: "return check();" }, class: 'btn btn-danger' %>
    </td>
</tr>

<script>
  function check() {
    if (window.confirm('本当に削除しますか？')) { 
      return true;
    } else {
      window.alert('キャンセルされました'); 
      return false; 
    }
  }
</script>